# Python
__pycache__/
*.py[cod]
*.egg-info
venv/
.env

# System
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Virtual environments
venv/
ENV/

# IDE specific
.vscode/
.idea/

# distribution
dist/
build/
